.c-contentbox{
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 10vh;
  vertical-align: middle;
}

.c-contentbox__title{
  text-align: center;
  color:white;
  &--white{
    color:white;
  }
  &--brown{
    color:#633b0a;
  }
}
