.c-contentbox{
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 10vh;
  vertical-align: middle;
}

.c-contentbox__title--white{
  text-align: center;
  color: white;
}

.c-contentbox__title--brown{
  text-align: center;
  color: #633b0a;
}
