.c-list {
    display: flex;
    float: right;
    vertical-align: middle;
    position: relative;
    padding-top: 2%;
}

.c-list__item {
    margin-left: 4%;
    list-style: none;
    white-space: nowrap;
    vertical-align: middle;
    padding-left: 5%;
}

.c-list__link {
  text-decoration: none;
  text-align: center;
  color: white;
  display:block
}
.c-list__link:active {
  text-decoration: none;
  text-align: center;
  color: white;
  display:block
}
